table.dataTable th, table.dataTable td {
	text-align: center;
}

table.dataTable td {
	white-space: nowrap;
}

table.dataTable {
	width: 100% !important;
}

.alert {
	left: 0;
	margin: auto;
	position: fixed;
	right: 0;
	text-align: center;
	/* top: 25px; */
	width: 30%;
	z-index: 1041;
}

/*Loading div css*/
.blur {
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	pointer-events: none;
}

#loadingDiv {
	font-size: 12px;
	text-align: center;
	position: fixed;
	right: 0;
	left: 0;
	margin: auto;
	top: 25%;
	height: 50px;
	width: 90px;
	z-index: 1042;
}

#loadingDiv > span  {
	background-color: #BABA00;
	height: 100%;
	width: 6px;
	display: inline-block;
	margin-right: 2px;
	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out;
}

#loadingDiv .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

#loadingDiv .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

#loadingDiv .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

#loadingDiv .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

#loadingDiv .rect6 {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s;
}

#loadingDiv .rect7 {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}

#loadingDiv .rect8 {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
